body {
	background-color: #FFFFFF;
}

p {
	font-family: "HelveticaNeue-Light";
	font-size: 14px;
	text-align: left;
}

 #navbar ul { 
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	width: 800px;
	margin: auto; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #990000; 
} 
 
#navbar ul li {  
	display: inline; 
} 
 
#navbar ul li a { 
	font-size: 15px;
	text-decoration: none; 
	padding: .2em 1em; 
	color: #FFFFFF; 
	background-color: #990000; 
} 
 
#navbar ul li a:hover { 
	color: #FFFFFF; 
	border-radius: 5px;
	background-color: #660000; 
}

#main {
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#main img {
	padding: 20px;
}

.left {
	display: block;
	float: left;
	width: 400px;
	padding: 10px;
}

.right {
	display: block;
	float: right;
	padding: 10px;
}

#header p {
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: #990000;
	padding: 10px;
}

.slider {
	height: 240px;
	width: 400px;
}

.slider li {
	list-style: none;
	position: absolute;
	position: bottom;
}

.slider img {
	vertical-align: top;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.slider input {
	display: none;
}

.slider label {
	background-color: #990000;
	bottom: 8px;
	cursor: pointer;
	display: block;
	height: 8px;
	position: absolute;
	width: 8px;
	z-index: 10;
}

.slider li:nth-child(1) label {
	left: 10px;
}

.slider li:nth-child(2) label {
	left: 30px;
}

.slider li:nth-child(3) label {
	left: 50px;
}

.slider li:nth-child(4) label {
	left: 70px;
}

.slider li input:checked ~ img {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}